/*
    Selles failis on "Kontakteeru meiega" vahelehe stiilid.
*/
input{
    width: 20%;
}
div#pealesisestamist{
    padding: 10px;
    display: none;
}
#tänusõnad{
    display:none;
    background-color:lightcyan;
    padding: 20px;
}
#küsiüle{
    font-weight: bold;
}
#lõpetamata,#lõpetatud,#saatmisnupp{
    font-weight: bold;
    font-size: large;
}
#lõpetamata{
    background-color:red;
}
#lõpetatud{
    background-color:springgreen;
}
#berniepilt{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}